streamlit
spacy
sentence-transformers
transformers
torch
numpy
scikit-learn
requests
python-dotenv
natasha
datasets
pandas
chromadb
langchain
langchain-community
langchain-classic
langchain-core
langchain-text-splitters